.main{
     text-align: center;
    color:red;
    position:absolute;
    top:0%;
    left:30%;
    
    }
    .main h1{
        
        font-size: 100px ;
    }
.main p{
    font-size:40px;
    color:#ff6666;
}

.element{
 
    overflow: visible;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.element a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* Change background on mouse-over */
.element a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}
.element{
float:left;
}
#wallpaper{
    background-image:url("https://necropolisfuneral.files.wordpress.com/2017/12/istock-486445917.jpg");
background-size: cover;
background-repeat: no-repeat;
text-align: center
}
    
    
    
    
