.mainheading{
    text-align: center;
    color:red;
    position:absolute;
    top:0%;
    left:40%;
    }
    


a{
    text-decoration: none;
    color:white;
    margin:2%;
}

a:hover{
    color:red;
}

h2{
    color:red;
}

.container{
   margin-left: 30%; 

}
ul {
    position: absolute;
    top:10%;
    left:0;
    background-color: #333;
    width:100%;
    height:10%;
    
}

ul li {
    position: relative;
    display:inline;
    top:30%;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin:20px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


marquee{
    position:absolute;
    top:30%;
}

#education{
    color:black;
     background:url("https://png.pngtree.com/thumb_back/fw800/back_pic/00/01/38/1156014b2176aaa.jpg");
     background-size: cover;
    background-repeat: no-repeat;
    text-align: center
  
}
#education
      table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
    

#home{
     background:url("https://www.desktopbackground.org/download/o/2012/03/26/364536_business-wallpapers-hd-wallpaper-backgrounds-of-your-choice_1600x1067_h.jpg");
  background-size: cover;
    background-repeat: no-repeat;
    color:white;
}
  
     
     
     
    
    
#work{
     background:url("http://getwallpapers.com/wallpaper/full/f/9/6/400435.jpg");
  background-size: cover;
    background-repeat: no-repeat;
     text-align: center;
     color: red;
}
#personal{
     background:url("https://previews.123rf.com/images/icetray/icetray1605/icetray160500590/56186468-blake-word-on-red-wall.jpg");
  background-size: cover;
    background-repeat: no-repeat;
     text-align: center;
     color:  white ;
     
    
}
#personal img{
    position:fixed;
    width:200px;
    height:200px;
    left:5%;
    top:10%;
}
.button{
    position: absolute;
    bottom: 5%;
    left:50%;
}
.element{
   margin-left: 30%; 

}
#info{
    position: absolute;
    right:20%;
    top:10%;

}
#info strong{ 
    color: blue;
}
#work strong{
    color:black;
}
#work h1{
    color:blue;


}

    

.seperatep{
    position:absolute;
    text-align:center;
    bottom:30%;
}
#personal h2{
    position:absolute;
    color:blue;
    bottom:40%;
    left:45%;
}